h1{color:darkorange;
font-size: xx-large;
 text-align: center;}
 h2 {color: orange;
  font-size:x-large}
body{background-color: white; }
p{font-size: larger;}
.galerie {display: flex;
justify-content: center; gap: 20px; margin-top: 50px}
.galerie img {width: 400px; height: auto;}
iframe{
display: block;
  margin: 0 auto;
  width: 560px;
  height: 315px;
  border: none;
  margin-top: 50px}
h3{font-size: larger;
	color: orange;}
img {width: 400px; margin: 0 auto; display: block;}
.videowrap {display: flex;
justify-content: center;
gap: 20px;
margin-top: 50px}
.videowrap iframe {width: 560px;
height: 315px
}
a {font-size: xx-large; 
color: darkslategrey;}

ul{font-size: larger;}
il {font-size: larger;}
.blok{display: flex;
align-items: center; gap: 20px;
margin: 20px;}
.img {width: 300px; height: auto; }
.text {max-width: 400px; font-size: larger;}